---
import PageLayout from "../layout/PageLayout.astro";
import Card from "../components/Card.astro";
import ImageGridCard from "../components/ImageGridCard.astro";
import LogoCard from "../components/LogoCard.astro";
import SamarbejdCard from "../components/SamarbejdCard.astro";
import SamtaleCard from "../components/SamtaleCard.astro";
import YogaCard from "../components/YogaCard.astro";

const quoteEndpoint = 'https://dummyjson.com/quotes';

const quoteRequest = await fetch(quoteEndpoint);
const quoteData = await quoteRequest.json();

const postEndpoint = 'https://dummyjson.com/posts';

const postrequest = await fetch(postEndpoint);
const postData = await postrequest.json();

const dogEndpoint = "https://dog.ceo/api/breed/springer/images";

const dogRequest = await fetch(dogEndpoint);
const dogData = await dogRequest.json();

console.log("dogData", dogData.message);
---


<PageLayout title="Forside">
    <main>

      <section>
        <h1>Quote by{quoteData.quotes[0].author}</h1>
      <p>
        {quoteData.quotes[1].quote}
      </p>
      </section>
   

      <h2>kort sektion</h2>
      <div class="grid_3_1"> </div>
      {postData.posts.map((post, i) => { 
        return(
        <Card 
        img= {dogData.message[i]}
        text1={post.body}
        tag= {post.tags[0]}  />
        )

      })}


     
<!-- 
 <section>
        <img src="/public/imgs/forside_billede.webp" alt="forside" />
      </section>
      <section>
        <LogoCard img="/public/imgs/logo2.svg" title="Music | Visualisation | Guide on/off" subtitle="Empowering pauses" tag="PRØV 14 DAGE GRATIS" link="/content/14dage"/>
      </section>

      <section class="imagegrid">
        <ImageGridCard img1="/public/imgs/mann.webp" img2="/public/imgs/dame2.webp" img3="/public/imgs/dame.webp" img4="/public/imgs/mann2.webp" />
      </section>

      <section>
        <YogaCard img="/public/imgs/yoga.webp" title="Find ro og fokus i en travl hverdag" text1="Med SoundWheel får du guidede lydrejser, der hjælper dig med at reducere stress, finde ro og genoplade mentalt uanset om du bruger det på arbejdet eller derhjemme." text2="Korte mentale pauser gør en mærkbar forskel for både trivsel og koncentration" text3="SoundWheels unikke lydunivers er udviklet til at skabe balance, øge fokus og give nyt overskud - til dig eller dit team." text4="KØB ADGANG : 49 kr/måneden" tag="START PRØVEPERIODE" />
      </section>

      <section>
        <SamtaleCard title=" Optimer trivsel og performance i din organisation" tex1="Skab bedre mentale pauser med SoundWheel Work - et digitalt værktøj designet til at styrke medarbejdernes fokus, reducere stress og øge den samlede produktivitet." text2="I en tid med højt arbejdspres og komplekse krav til performance er mental bæredygtighed afgørende for at fastholde engagement og effektivitet." text3="SoundWheel Work integreres let i arbejdsdagen og giver organisationer et konkret redskab til at understøtte trivsel, fokus og resultater - på både individ- og teamniveau." text4="KØB ADGANG : Fra 9.999 kr for hele organisationen" tag="START PRØVEPERIODE" img="/public/imgs/team.webp" />
      </section>

      <section class="grid_3_1fr">
        <Card title="Soundwheel Work 1K" subtitle="Op til 1.000 brugere" text="19.999 kr /år ekslusiv moms" tag="VÆLG PLAN" />
        <Card title="Soundwheel Work 500" subtitle="Op til 500 brugere" text="14.999 kr /år ekslusiv moms" tag="VÆLG PLAN" />
        <Card title="Soundwheel Work 100" subtitle="Op til 100 brugere" text="9.999 kr /år ekslusiv moms" tag="VÆLG PLAN" />
      </section>

      <section>
        <h2 class="samarbejdspartnere">Samarbejdspartnere</h2>
        <SamarbejdCard img="/public/imgs/EK_logo.webp" img="/public/imgs/EK_logo.webp" img="/public/imgs/EK_logo.webp" img="/public/imgs/EK_logo.webp" img="/public/imgs/EK_logo.webp" img="/public/imgs/EK_logo.webp" />
      </section>
      -->
    </main>
  </PageLayout>

