---
const { img, text1, subtitle1, subtitle, text2, text3 } = Astro.props;
---

<article>
  <img src={img} />
  <p>{subtitle1}</p>
  <p>{text1}</p>
  <p>{text2}</p>
  <p>{subtitle}</p>
  <p>{text3}</p>
</article>

<style></style>
<script></script>
