---
const { img, tag, title, subtitle, link} = Astro.props;
---

<article>
  <img src={img} />
  <p class="title">{title}</p>
  <p class="subtitle">{subtitle}</p>
  <p class="tag"><a href={link}>{tag}</a></p>
</article>

<style>
  article {
    text-align: center;
  }

  .title {
    font-size: 50px;
    color: #3f1416;
  }

  .subtitle {
    font-size: 40px;
  }

  .tag {
    display: inline-block;
    padding-inline: 50px;
    padding-block: 10px;
    background-color: #3f1416;
    color: white;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  a{
    color: white;
  }
</style>
<script></script>
