---
const { img, text1, subtitle, text2, text3, text4, text5, tag } = Astro.props;
---

<article>
  <img src={img} />
  <p>{subtitle}</p>
  <p>{text1}</p>
  <p>{text2}</p>
  <p>{text3}</p>
  <p>{text4}</p>
  <p>{text5}</p>
  <p>{tag}</p>
</article>

<style></style>
<script></script>
