---
const { img, text1, subtitle1, subtitle, text2, text3 } = Astro.props;
---

<article class="grid">
  <div>
    <p class="subtitle">{subtitle1}</p>
    <p>{text1}</p>
    <p>{text2}</p>
    <p>{text3}</p>
    <p>{subtitle}</p>
  </div>
  <div>
    <img src={img} />
  </div>
</article>

<style>
  img {
    max-width: 100%;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .subtitle {
    font-size: 25px;
    font-weight: bold;
  }

  p {
    padding: 10px;
    font-size: 20px;
  }
</style>
<script></script>
