---
const { img, title, text1, text2, text3, text4, tag } = Astro.props;
---

<article>
  <img src={img} />
  <p>{title}</p>
  <p>{text1}</p>
  <p>{text2}</p>
  <p>{text3}</p>
  <p>{text4}</p>
  <p>{tag}</p>
</article>

<style></style>
<script></script>
